---
import Section from "../Section.astro"
import { getCV, getTranslations } from "@/cv-loader"

const cv = getCV(Astro.url.pathname)
const t = getTranslations(Astro.url.pathname)
const { summary } = cv.basics
---

<Section title={t.about}>
  <p>
    {summary}
  </p>
</Section>
